<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>HeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xcxiao.simplels</string>
			<key>key</key>
			<string>enableSLS</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose the clock style.</string>
			<key>label</key>
			<string>Clock Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.xcxiao.simplels</string>
			<key>key</key>
			<string>clockStyle</string>
			<key>label</key>
			<string>Clock Style</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Simple</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xcxiao.simplels</string>
			<key>key</key>
			<string>showWA</string>
			<key>label</key>
			<string>Show Weather Widget</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Move Notifications up. If your device running iOS 10.1.X, keep it close may avoid respring.</string>
			<key>label</key>
			<string>Move Notifications Up</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xcxiao.simplels</string>
			<key>key</key>
			<string>moveNotifi</string>
			<key>label</key>
			<string>Move Notifications Up.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MoreController</string>
			<key>label</key>
			<string>More</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>Cancel</string>
				<key>okTitle</key>
				<string>Respring</string>
				<key>title</key>
				<string>Respring</string>
				<key>prompt</key>
				<string>Would you like to respring your device?</string>
			</dict>
			<key>action</key>
			<string>respringDevice</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xcxiao.ampbk</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donatePayPal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>com.xcxiao.ampbk</string>
			<key>label</key>
			<string>Donate via PayPal</string>
			<key>icon</key>
			<string>pp.png</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>wc.png</string>
			<key>action</key>
			<string>donateWeChat</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>com.xcxiao.ampbk</string>
			<key>label</key>
			<string>Donate via WeChat</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>SimpleLS</string>
</dict>
</plist>
