<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>id</key>
			<string>imageCell</string>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>ImageCell</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
		  <string>twitter.png</string>
			<key>action</key>
			<string>followOnTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@william_vab</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Swipe Up anywhere on the SpringBoard to access Quick Settings</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>customSwitchBlue</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.irepo.boxy</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MonitorSwitch</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.irepo.boxy</string>
			<key>key</key>
			<string>quick</string>
			<key>label</key>
			<string>Enable Quick Settings</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MonitorSwitch</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.irepo.boxy</string>
			<key>key</key>
			<string>isDarkMode</string>
			<key>label</key>
			<string>Quick Settings Dark Mode</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MonitorSwitch</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.irepo.boxy</string>
			<key>key</key>
			<string>twoFinger</string>
			<key>label</key>
			<string>Use Two Finger Tap Instead</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MonitorSwitch</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.irepo.boxy</string>
			<key>key</key>
			<string>forceTouch</string>
			<key>label</key>
			<string>Force Touch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.irepo.boxy</string>
			<key>detail</key>
			<string>MonitorListController</string>
			<key>isNative</key>
			<true/>
			<key>key</key>
			<string>qsBackgroundColor</string>
			<key>label</key>
			<string>Quick Settings Color</string>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Blue</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Pink</string>
				<string>Red</string>
				<string>Purple</string>
				<string>Teal</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>generalConfig.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>General Configurations</string>
			<key>detail</key>
			<string>generalConfig</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>iconConfig.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Icon Layout Settings</string>
			<key>detail</key>
			<string>iconLayoutSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>*Apply Changes resprings the device. Only need to Apply Changes if you selected Custom Icon Layout or adjusted the Square Icon Labels, Page Control, or Icon Label Visibility </string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>apply</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
		</dict>
		<!--<dict>
			<key>action</key>
			<string>applyRestore</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes and Restore State</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Boxy© 2018 William Vabrinskas              wvabrinskas@gmail.com</string>
			<key>isStaticText</key>
			<true/>
		</dict>

	</array>
	<key>title</key>
	<string>Boxy</string>
</dict>
</plist>
