<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>SIPrefsCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose between modes</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>masterEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>validTitles</key>
			<array>
				<string>Simple</string>
				<string>Fusion</string>
				<string>Advanced</string>
				<string>App</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0.7</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>duration</string>
			<key>label</key>
			<string>Speed</string>
			<key>validTitles</key>
			<array>
				<string>o</string>
				<string>x2</string>
				<string>x3</string>
				<string>x4</string>
				<string>x5</string>
				<string>x6</string>
				<string>x7</string>
				<string>x8</string>
				<string>x9</string>
				<string>∞</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1.0</string>
				<string>0.8</string>
				<string>0.7</string>
				<string>0.6</string>
				<string>0.5</string>
				<string>0.4</string>
				<string>0.3</string>
				<string>0.2</string>
				<string>0.1</string>
				<string>0.01</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>whatisthis:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>What should I choose?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring required for changes to take effect on iOS 9+</string>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>1240.10</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>Respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring (iOS 9+)</string>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>1240.10</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Volume HUD</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>matchMain</string>
			<key>label</key>
			<string>Follows main speed control</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Custom speed</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.7</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>durHUD</string>
			<key>label</key>
			<string>HUD Speed</string>
			<key>max</key>
			<string>1.0</string>
			<key>min</key>
			<string>0.15</string>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Others</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>CCSpeed</string>
			<key>label</key>
			<string>Speed up Control Center</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>LegacySU</string>
			<key>label</key>
			<string>Lower quality backdrops</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Exceptions</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>disablewiggle</string>
			<key>label</key>
			<string>Disable during Icon Wiggling</string>
		</dict>
		<dict>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>ALChangeNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>footer-title</key>
					<string>© 2017 Philip Wong</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string>Prohib-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.pw5a29.speedintensifier.plist</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Blacklist Applications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Spring Animations</string>
			<key>footerText</key>
			<string>Spring animations is recommended for both Fusion and Advanced mode</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>Spring</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Stiffness</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>sastiffness</string>
			<key>label</key>
			<string>Stiffness</string>
			<key>max</key>
			<string>8.0</string>
			<key>min</key>
			<string>0.1</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Damping</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>default</key>
			<string>2.0</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>sadamping</string>
			<key>label</key>
			<string>Damping</string>
			<key>max</key>
			<string>8.0</string>
			<key>min</key>
			<string>0.1</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Mass</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pw5a29.speedintensifier.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>default</key>
			<string>0.1</string>
			<key>defaults</key>
			<string>com.pw5a29.speedintensifier</string>
			<key>key</key>
			<string>samass</string>
			<key>label</key>
			<string>Mass</string>
			<key>max</key>
			<string>8.0</string>
			<key>min</key>
			<string>0.1</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you like this, please donate and support me, thank you very much :)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>PhilipTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>/Applications/Preferences.app/Twitter.png</string>
			<key>label</key>
			<string>Philip (@pw5a29)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate and support</string>
		</dict>
	</array>
	<key>title</key>
	<string>Speed Intensifier</string>
</dict>
</plist>
