{ Filter = { Bundles = ( "com.apple.Preferences", "com.apple.springboard", "com.apple.camera", "com.apple.mobileslideshow", "com.apple.MobileSMS", "com.apple.calculator", "com.apple.mobilecal", "com.apple.MobileAddressBook", "com.apple.mobilephone", "com.apple.weather", "com.apple.calculator", "com.apple.DocumentsApp", "com.apple.facetime", "com.apple.mobilemail", "com.apple.Maps", "com.apple.Music", "com.apple.mobilenotes", "com.apple.podcasts", "com.apple.reminders", "com.apple.stocks", "com.apple.weather"); }; }
