<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>FLDHeaderCell</string>
			<key>height</key>
			<integer>200</integer>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable FloatyDock</string>
			<key>footerText</key>
			<string>If disabled, below switches will have no effects !</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableSwitch</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Regular Dock Icons</string>
			<key>footerText</key>
			<string>Specify the max number of regular icons you want to have in your dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>1</integer>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>RegularDockIconsCount</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Recent Apps</string>
			<key>footerText</key>
			<string>If enabled, the dock will show you a list of recent apps allowing you to resume them. Specify the max number of recent apps you want to have in your dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableRecentApps</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>1</integer>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>RecentAppsCount</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>5</integer>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Suggested Apps</string>
			<key>footerText</key>
			<string>If enabled, the dock will show you a list of suggested apps based on your usage. Specify the max number of suggested apps you want to have in your dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableSuggestedApps</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>6</integer>
			<key>min</key>
			<integer>1</integer>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>SuggestedAppsCount</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>5</integer>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock in Apps</string>
			<key>footerText</key>
			<string>Allow you to invoke the dock to launch applications from wherever you are. To make the dock appearing on iPhone X, swipe from the bottom left side of the screen to the top. On other devices you have to swipe from the bottom left or right to the top.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableDockInApps</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableHomeButtonToDismissDock</string>
			<key>label</key>
			<string>Enable home button to dismiss dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slide Over / Split View</string>
			<key>footerText</key>
			<string>You have to enable "Dock in Apps" first for these features to work, and then you'll be able to drag an app from your dock in apps to a side of your screen for launching it in front of your current app in "not fullscreen" mode (Slide Over) or in half screen mode allowing you to use 2 apps at the same time (Slide Over and Split View). NOTE : on iPhone X, these switch have no effect as these features are incompatible !</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableSlideOver</string>
			<key>label</key>
			<string>Slide Over</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.synnyg.floatydockprefs</string>
			<key>key</key>
			<string>EnableSlideOverAndSplitView</string>
			<key>label</key>
			<string>Slide Over And Split View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About Me</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow Me on Twitter !</string>
			<key>action</key>
			<string>goToTwitter</string>
            <key>icon</key>
			<string>twitter-icon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy me a beer !</string>
			<key>action</key>
			<string>goToPaypal</string>
            <key>icon</key>
			<string>paypal-icon.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>FloatyDock</string>
</dict>
</plist>
