<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RoundCorners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.qwertyoruiop.RoundCorners2</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.qwerty.reload.rcorners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.qwertyoruiop.RoundCorners2</string>
			<key>key</key>
			<string>premode</string>
			<key>label</key>
			<string>PreMode</string>
			<key>PostNotification</key>
			<string>com.qwerty.reload.rcorners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>default</key>
			<string>12</string>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>radius</string>
			<key>defaults</key>
			<string>com.qwertyoruiop.RoundCorners2</string>
			<key>PostNotification</key>
			<string>com.qwerty.reload.rcorners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>alternateColors</key>
			<false/>
			<key>defaults</key>
			<string>com.qwertyoruiop.RoundCorners2</string>
			<key>key</key>
			<string>notonscreenies</string>
			<key>label</key>
			<string>Don&apos;t show on ScreenShots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>alternateColors</key>
			<false/>
			<key>defaults</key>
			<string>com.qwertyoruiop.RoundCorners2</string>
			<key>key</key>
			<string>gmreenable</string>
			<key>label</key>
			<string>GameMode disables Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>enabled</key>
			<false/>
			<key>alternateColors</key>
			<false/>
			<key>defaults</key>
			<string>com.qwertyoruiop.RoundCorners2</string>
			<key>key</key>
			<string>onlyupper</string>
			<key>label</key>
			<string>Only Upper</string>
			<key>PostNotification</key>
			<string>com.qwerty.reload.rcorners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2011 qwertyoruiop - JStraitiff. Retina icon by Surenix.</string>
		</dict>
	</array>
	<key>title</key>
	<string>RoundCorners</string>
</dict>
</plist>
